.bottomsheet__container {
  position: absolute;
  bottom: 0;
  background-color: #fff;
  width: 100%;
  /* height: 200px; */
  max-height: 450px;
  border: 1px solid #cccc;
  overflow-x: hidden;
  box-shadow: 0px 0px 6px 1px rgba(147, 147, 147, 0.8);
  /* overflow: scroll; */
  /* scroll-behavior: smooth; */
}

.bottomsheet__content {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
}
.bottomsheet__content__section1 {
  flex-grow: 1;
  padding: 10px 0 0 30px;
}
.bottomsheet__content__section2 {
  flex-grow: 1;
  padding: 10px;
}
.bottomsheet__content__section3 {
  flex-grow: 2;
  padding: 10px;
}
.bottomsheet__verticalline {
  width: 0;
  max-height: 100vh;
  min-height: 100%;
  color: #ffffff;
}
.bottomsheet__dualinput {
  display: flex;
  flex-direction: row;
  width: 75%;
}
.bottomsheet__icons {
  font-size: 34px;
  padding: 10px;
  border-radius: 4px;
  background-color: white;
  border: 1px solid #ccc;
}
.bottomsheet__textarea {
  resize: none;
  width: 75%;
  height: 150px;
  font-size: 14px;
  border: 1px solid #c4c4c4;
  padding: 4px 4px 4px 4px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  box-shadow: 0px 0px 8px #d9d9d9;
  -moz-box-shadow: 0px 0px 8px #d9d9d9;
  -webkit-box-shadow: 0px 0px 8px #d9d9d9;
}
.bottomsheet__textarea:focus {
  outline: none;
  border: 1px solid var(--info);
  box-shadow: 0px 0px 4px var(--info);
  -moz-box-shadow: 0px 0px 4px var(--info);
  -webkit-box-shadow: 0px 0px 4px var(--info);
}
/* BottomSheet TopBar */
.bottomsheet__topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  background-color: #fff;
  position: sticky;
  top: 0;
  border-bottom: 1px solid #ccc;
}
.bottomsheet__topbar p {
  color: var(--heading-text);
  margin-left: 30px;
}
.bottomsheet__topbar div {
  margin-right: 30px;
}
.bottomsheet__topbar button {
  margin: 0 5px;
  padding: 4px 10px;
  border: 0;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
}
.bottomsheet__topbar button.clear {
  background-color: var(--danger);
  color: white;
  border: 1px solid var(--danger);
}
.bottomsheet__topbar button.preview {
  background-color: var(--info);
  color: white;
  border: 1px solid var(--info);
}
.bottomsheet__topbar button.save {
  background-color: #4aa9e917;
  color: var(--info);
  border: 1px solid var(--info);
}
/* BottomSheet TopBar End */

/* BottomSheet Content Section 2*/
.bottomsheet__content__section2 div {
  height: 90%;
  width: 100%;
  border: 1px solid #c4c4c4;
  margin-top: 5px;
  padding: 4px 4px 4px 4px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  box-shadow: 0px 0px 8px #d9d9d9;
  -moz-box-shadow: 0px 0px 8px #d9d9d9;
  -webkit-box-shadow: 0px 0px 8px #d9d9d9;
}
