.bottomsheet__container {
  position: absolute;
  bottom: 0;
  background-color: ghostwhite;
  width: 100%;
  /* height: 200px; */
  max-height: 450px;
  border: 1px solid #cccc;
  overflow-x: hidden;
  /* overflow: scroll; */
  /* scroll-behavior: smooth; */
}

.bottomsheet__topbar {
  display: flex;
  align-items: center;
  height: 40px;
  background-color: #fff;
  position: sticky;
  top: 0;
  border: 1px solid #777;
}
.bottomsheet__content {
  display: flex;
  flex-direction: row;
}
.bottomsheet__content__section1 {
  flex-grow: 1;
  padding: 10px;
}
.bottomsheet__content__section2 {
  flex-grow: 1;
  padding: 10px;
}
.bottomsheet__verticalline {
  width: 1px;
  max-height: 100vh;
  min-height: 100%;
  color: black;
}
