* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --body-text: #626262;
  --heading-text: #2c2c2c;
  --hint: #3f3f3f;
  --success: #23b9a9;
  --danger: #ce4e4d;
  --warning: #eac459;
  --info: #4aa9e9;
  --bg: #f9fcff;
}
body {
  font-size: 16px;
  background-color: var(--bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-text);
}

p {
  color: var(--body-text);
}
